@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.topic {
	font-family: "Lato", sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #ccc;
}

.topic p {
	width: 80%;
	font: inherit;
}

.topic a {
	font: inherit;
	padding: 0.25rem 0.5rem;
	background-color: #03be9f;
	border: 1px solid #03be9f;
	color: #dafff7;
	border-radius: 4px;
}

.topic select {
	font: inherit;
	background-color: white;
	border-radius: 6px;
	padding: 0.25rem;
}
