.content {
	display: flex;
	flex-direction: column;
}

.banner {
	height: 200px;
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	border-radius: 20px;
	background-color: rgb(229, 216, 216);
}

.courses {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 150px;
	padding: 20px;
}

.gradient1 {
	background: linear-gradient(
		180deg,
		rgba(170, 216, 111, 0.3271) 60%,
		#bdf5ef 100%
	);
}

.gradient2 {
	background: linear-gradient(
		180deg,
		rgba(219, 0, 255, 0.2) 40%,
		rgba(148, 255, 255, 0.65) 100%
	);
}

.gradient3 {
	background: linear-gradient(
		180deg,
		rgba(255, 76, 2, 0.3271) 53%,
		#b1ccff 100%
	);
}

.gradient4 {
	background: linear-gradient(180deg, #c087f961 45%, #ffa3a3 100%);
}

.gradient5 {
	background: linear-gradient(180deg, #d2a5ff3c 50%, #eeff86 100%);
}
